html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  font-style: inherit;
}
input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
abbr, article, aside, audio, canvas, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video { display: block; }
.inlineBlock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.doubleEngravedText { text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.15) 0px -1px 0px; }
.withDownwardsArrow:before {
  content: "";
  font-family: "Wingdings";
}
a {
  color: inherit;
  text-decoration: inherit;
}
h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  font-size: inherit;
}
.cleanStroke { -webkit-text-stroke: 1px transparent; }
.fancyBrightScrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}
.fancyBrightScrollbar::-webkit-scrollbar-button:start:increment {
  width: 9px;
  height: 9px;
  display: none;
}
.fancyBrightScrollbar::-webkit-scrollbar-button:start:decrement {
  width: 9px;
  height: 9px;
  display: none;
}
.fancyBrightScrollbar::-webkit-scrollbar-button:end:increment {
  width: 9px;
  height: 9px;
  display: none;
}
.fancyBrightScrollbar::-webkit-scrollbar-button:end:decrement {
  width: 9px;
  height: 9px;
  display: none;
}
.fancyBrightScrollbar::-webkit-scrollbar { display: block; }
.fancyBrightScrollbar::-webkit-scrollbar-button:start:decrement { display: block; }
.fancyBrightScrollbar::-webkit-scrollbar-button:end:increment { display: block; }
.fancyBrightScrollbar::-webkit-scrollbar-track {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(0, 0, 0, 0.15);
}
.fancyBrightScrollbar::-webkit-scrollbar-track:disabled { display: none; }
.fancyBrightScrollbar::-webkit-scrollbar-thumb {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(0, 0, 0, 0.25);
  border: 1px inset rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 2.5s linear;
}
.fancyBrightScrollbar:hover::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.35); }
.fancyBrightScrollbar::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.55); }
.fancyBrightScrollbar::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.15); }
.fancyBrightScrollbar::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.25); }
.fancyBrightScrollbar:hover::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.35); }
.fancyBrightScrollbar::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.55); }
.slatedScrollbar::-webkit-scrollbar-button:start:decrement { display: none; }
.slatedScrollbar::-webkit-scrollbar-button:end:increment { display: none; }
html { background: #2e3238; }
body {
  width: 792px;
  padding: 0 72px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 36px;
  color: inherit;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  color: #a6a6a6;
}
header h1 {
  font-size: 1.5em;
  line-height: 36px;
  color: inherit;
  margin-top: 3em;
}
header h1 + h2 {
  font-size: 0.5em;
  line-height: 1.5em;
  color: inherit;
  margin-bottom: 1.5em;
}
.superscript {
  font-size: 75%;
  vertical-align: super;
  line-height: 0;
  -webkit-text-stroke: 1px transparent;
}
article { margin-top: 144px; }
article header { margin-bottom: 36px; }
article header time {
  display: inline;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  color: #e1e1e1;
}
article header section {
  display: inline;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  color: #e1e1e1;
}
article header time { color: #f5f5f5; }
article header h2 {
  font-size: 36px;
  line-height: 36px;
  color: inherit;
  color: #c4c4c4;
  margin-top: 0;
  text-transform: none;
}
article header h2 section {
  display: inline;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
}
article p {
  font-size: 18px;
  line-height: 27px;
  color: inherit;
  margin-bottom: 36px;
  overflow-x: auto;
  overflow-y: hidden;
}
article code {
  font-size: 18px;
  line-height: 27px;
  color: inherit;
  margin-bottom: 36px;
  overflow-x: auto;
  overflow-y: hidden;
}
article pre {
  font-size: 18px;
  line-height: 27px;
  color: inherit;
  margin-bottom: 36px;
  overflow-x: auto;
  overflow-y: hidden;
}
article code {
  font-family: "Monaco", "Courier", monospace;
  padding: 27px 0;
}
article code::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}
article code::-webkit-scrollbar-button:start:increment {
  width: 9px;
  height: 9px;
  display: none;
}
article code::-webkit-scrollbar-button:start:decrement {
  width: 9px;
  height: 9px;
  display: none;
}
article code::-webkit-scrollbar-button:end:increment {
  width: 9px;
  height: 9px;
  display: none;
}
article code::-webkit-scrollbar-button:end:decrement {
  width: 9px;
  height: 9px;
  display: none;
}
article code::-webkit-scrollbar { display: block; }
article code::-webkit-scrollbar-button:start:decrement { display: block; }
article code::-webkit-scrollbar-button:end:increment { display: block; }
article code::-webkit-scrollbar-track {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(0, 0, 0, 0.15);
}
article code::-webkit-scrollbar-track:disabled { display: none; }
article code::-webkit-scrollbar-thumb {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(0, 0, 0, 0.25);
  border: 1px inset rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 2.5s linear;
}
article code:hover::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.35); }
article code::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.55); }
article code::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.15); }
article code::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.25); }
article code:hover::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.35); }
article code::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.55); }
article code::-webkit-scrollbar-button:start:decrement { display: none; }
article code::-webkit-scrollbar-button:end:increment { display: none; }
article pre {
  font-family: "Monaco", "Courier", monospace;
  padding: 27px 0;
}
article pre::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}
article pre::-webkit-scrollbar-button:start:increment {
  width: 9px;
  height: 9px;
  display: none;
}
article pre::-webkit-scrollbar-button:start:decrement {
  width: 9px;
  height: 9px;
  display: none;
}
article pre::-webkit-scrollbar-button:end:increment {
  width: 9px;
  height: 9px;
  display: none;
}
article pre::-webkit-scrollbar-button:end:decrement {
  width: 9px;
  height: 9px;
  display: none;
}
article pre::-webkit-scrollbar { display: block; }
article pre::-webkit-scrollbar-button:start:decrement { display: block; }
article pre::-webkit-scrollbar-button:end:increment { display: block; }
article pre::-webkit-scrollbar-track {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(0, 0, 0, 0.15);
}
article pre::-webkit-scrollbar-track:disabled { display: none; }
article pre::-webkit-scrollbar-thumb {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  background: rgba(0, 0, 0, 0.25);
  border: 1px inset rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 2.5s linear;
}
article pre:hover::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.35); }
article pre::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.55); }
article pre::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.15); }
article pre::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.25); }
article pre:hover::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.35); }
article pre::-webkit-scrollbar-thumb:hover { background: rgba(255, 255, 255, 0.55); }
article pre::-webkit-scrollbar-button:start:decrement { display: none; }
article pre::-webkit-scrollbar-button:end:increment { display: none; }
article h1 {
  font-size: 24px;
  line-height: 36px;
  color: inherit;
  margin-top: 72px;
  margin-bottom: 36px;
}
article h2 {
  font-size: 18px;
  line-height: 36px;
  color: inherit;
  margin-top: 36px;
  text-transform: uppercase;
}
article h1 { color: white; }
article h1 code {
  font-size: inherit;
  line-height: inherit;
}
article h1 pre {
  font-size: inherit;
  line-height: inherit;
}
article h2 { color: white; }
article h2 code {
  font-size: inherit;
  line-height: inherit;
}
article h2 pre {
  font-size: inherit;
  line-height: inherit;
}
article blockquote {
  font-size: 24px;
  line-height: 36px;
  color: inherit;
  margin-left: 72px;
}
article p a { color: #f5f5f5; }
article p a:hover { color: white; }
article p a:after {
  font-size: 75%;
  vertical-align: super;
  line-height: 0;
  -webkit-text-stroke: 1px transparent;
  content: "⎈";
}
article p a[href*="blog.monoceroi.com"]:after { content: ""; }
article p a[href^="#"]:after { content: ""; }
article p sup {
  font-size: 75%;
  vertical-align: super;
  line-height: 0;
  -webkit-text-stroke: 1px transparent;
}
article blockquote a { color: #f5f5f5; }
article blockquote a:hover { color: white; }
article blockquote a:after {
  font-size: 75%;
  vertical-align: super;
  line-height: 0;
  -webkit-text-stroke: 1px transparent;
  content: "⎈";
}
article blockquote a[href*="blog.monoceroi.com"]:after { content: ""; }
article blockquote a[href^="#"]:after { content: ""; }
article blockquote sup {
  font-size: 75%;
  vertical-align: super;
  line-height: 0;
  -webkit-text-stroke: 1px transparent;
}
article img {
  -webkit-border-top-left-radius: 4.5px;
  -webkit-border-top-right-radius: 4.5px;
  -webkit-border-bottom-right-radius: 4.5px;
  -webkit-border-bottom-left-radius: 4.5px;
  -moz-border-radius: 4.5px 4.5px 4.5px 4.5px;
  -o-border-radius: 4.5px 4.5px 4.5px 4.5px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  -uu-border-radius: 4.5px 4.5px 4.5px 4.5px;
  behavior: url(lib.monoSnippets.hack.borderRadius.htc);
  -webkit-box-shadow: #000000 0px 0px 9px;
  -moz-box-shadow: #000000 0px 0px 9px;
  -o-box-shadow: #000000 0px 0px 9px;
  box-shadow: #000000 0px 0px 9px;
  -uu-box-shadow: #000000 0px 0px 9px;
  max-width: 100%;
  height: auto;
}
article .footnotes { margin-left: 288px; }
article .footnotes hr { display: none; }
article .footnotes ol li {
  font-size: 13px;
  line-height: 18px;
  color: #737373;
  list-style: decimal outside;
}
article .footnotes ol li p {
  font-size: 13px;
  line-height: 18px;
  color: #737373;
}
article .footnotes ol li a { color: #a0a0a0; }
article + article:before {
  content: "";
  font-family: "Wingdings";
  display: block;
  height: 4em;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  color: inherit;
}
nav {
  font-size: 13px;
  line-height: 18px;
  color: #737373;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 27px;
}
nav a + a:before { content: " — "; }
